/*AUs Grün wird weiß*/
@keyframes colorchangs {
    0% {
        color: green;
    }
    100% {
        color: white;
    }
}
/*Sie wissen was das ist*/
@keyframes colorchangs2 {
    0% {
        color: green;
    }
    100% {
        color: blue;
    }
}
/*Startseiten eigenschaften*/
.Startseite {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: black;
}
.Kali-Background {
    background-image: url('Bilder/hintergunrd-kali.jpg'); /* Hintergurund bild */
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Fixiert das Hintergrundbild */
    height: 100%; /* Höhe auf Bildschirmgröße setzen */
    width: 100%;
} 

.index-main p{
    cursor: default;
}


.index-main p {
    font-size: 30px;
}

.Kali-Download {
    background-color: none;
    text-decoration: none;
    padding: 10;
    margin: 100;
    font-size: 20px;
    text-decoration: none; 
    color: green; 
    cursor: pointer;
}
.Kali-Download a {
    color: green;
    text-decoration: none;
    font-size: 30px;
}
.KAli-Tools:hover {
    color: blue;
    text-decoration: underline;
    transition: color 0.3s ease;

}


main h2 {
    font-size: 30px;
}

main h3 {
    font-size: 25px;
}
/*Scroll header*/
.scroll-header {
    display: flex;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    z-index: 1000;
    transition: transform 1s ease-in-out;
}


.scroll-header.hidden {
    transform: translateY(-100%);
}

/* Schatten beim Sticky-Effekt */
header.sticky {
    box-shadow: 0 4px 2px -2px gray;
}

/* Stil für das Header-H1 */
.scroll-header h1 {
    color: green;
    font-size: 50pt;
}


/* Navigation */
.nav-list {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 60px 0 0 0;
    gap: 40px;      
}
.nav-list a {
    text-decoration: none;
    color: green;
    transition: color 0.3s ease;
}

/* Hover-Effekt für die Navigationselemente */
.nav-list a:hover {
    animation: colorchangs 0.5s forwards; /*Frabwechsel bei Hover */
}

main {
    margin-top: 180px;
    color: green;
    font-size: 30px;
}
code {
    color: green;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 33px;
    font-weight: bolder;
}

.kali-introducing {
    border-bottom: 4px solid green;
    padding: 30px;
}
.Tools-Kali  {
    border-bottom: 4px solid green;
    padding: 30px;
}
.Kali-every  {
    border-bottom: 4px solid green;
    padding: 30px;
}
.Features-Index {
    border-bottom: 4px solid green;
    padding: 30px;
}
.Tools-Kali h3 {
    font-size: 30px;
}
.Tools-Kali a::before {
    content: "\00BB    ";
}
footer {
    color: green;
    border-top: 1px solid green;
    font-size: 20px;
    margin-left: 10px;
}
.img-h1	img {
    width: 200px;
    height: auto;
}
.footer-listen {
    display: flex;
    justify-content: space-around; /* Passt die Positionierung der Listen an */
    gap: 20px; /* Optional: Abstand zwischen den Listen */
}
/* Media Queries für verschiedene Bildschirmgrößen */

/* Große Bildschirme (ab 1350px) */
@media (min-width: 1350px) {
    .scroll-header {
        padding: 5px;
        margin: 0;
        display: flex;
        align-items: baseline;

    }

    .scroll-header h1 {
       font-size: 50pt; /* Mittelgroße Schriftgröße */
    }

    .nav-list {
        display: flex;
        max-width: 100%;
        gap: 60px;
        justify-content: space-between;
        margin-left: auto;
        padding-right: 60px;
        margin-top: auto;
        margin-bottom: auto;
    }
    .nav-list li {

        font-size: 40px; /* Mittelgroße Schriftgröße */
        padding-bottom: 0px;
        margin-top: 40px;
        margin-bottom: 50px;
        
    }
    .img-h1 {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        
    }
    .img1 {
        padding-top: 10px;
        padding-right: 10px;;
        width: 230px;
        height: auto;
    }
}
/* Mittelgroße Bildschirme (ab 1200px und bis 1349px) */
@media (min-width: 1200px) and (max-width: 1349px) {
    
    main {
        margin-top: 170px;
    }

    .scroll-header {
        padding: 5px;
        margin: 0;
        display: flex;
        align-items: baseline;

    }

    .scroll-header h1 {
       font-size: 50pt; /* Mittelgroße Schriftgröße */
    }

    .nav-list {
        display: flex;
        max-width: 100%;
        gap: 60px;
        justify-content: space-between;
        margin-left: auto;
        padding-right: 60px;
        margin-top: auto;
        margin-bottom: auto;
    }
    .nav-list li {

        font-size: 30px; /* Mittelgroße Schriftgröße */
        padding-bottom: 0px;
        margin-top: 40px;
        margin-bottom: 50px;
        
    }
    .img-h1 {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        
    }
    .img1 {
        padding-top: 10px;
        padding-right: 10px;;
        width: 250px;
        height: auto;
    }
}
/* Mittelgroße Bildschirme (Tablets, ab 768px bis 1199px) */
@media (min-width: 768px) and (max-width: 1199px) {

    main {
        margin-top: 130px;
    }
    .scroll-header {
        padding: 5px;
        margin: 0;
        display: flex;
        align-items: baseline;

    }

    .scroll-header h1 {
       font-size: 30pt; /* Mittelgroße Schriftgröße */

    }

    .nav-list {
        display: flex;
        max-width: 100%;
        justify-content: space-between;
        margin-left: auto;
        padding-right: 20px;
        margin-top: auto;
        margin-bottom: auto;
    }
    .nav-list li {

        font-size: 25px; /* Mittelgroße Schriftgröße */
        padding-bottom: 0px;
        margin-top: 40px;
        margin-bottom: 50px;
        
    }
    .img-h1 {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        
    }
    .img1 {
        padding-top: 10px;
        padding-right: 10px;;
        width: 150px;
        height: auto;
    }
}
/* Kleine Bildschirme (Handys, max. 767px) */
@media (max-width: 767px) {

    main {
        margin-top: 140px;
    }
    .scroll-header {
        flex-direction: column; /* Elemente untereinander anordnen */
        padding: 10px;
        margin: 0;
        gap: 0px; /* Weniger Abstand */
        align-items: center;
    }

    .img-h1 {
        display: flex;
        padding-left: 0;
        padding-right: 10px;
        flex-direction: row;
        gap: 10px;
        margin-left: 30px;


    }
    .scroll-header h1 {
        font-size: 20pt; /* Kleinere Schriftgröße */
        text-align: center; /* Textzentrierung */
        padding-right: 120px;
    }

    .nav-list {
        flex-direction: row; /* Navigation untereinander anordnen */
        justify-content: center;
        padding-right: 10px;
        gap: 20px; /* Weniger Abstand */
        margin: 0;
        margin-top: 10px;
    }

    .nav-list li {
        padding: 5px;
        font-size: 20px; /* Kleinere Schriftgröße */
    }
    .img1 {
        padding-top: 10px;
        padding-right: 10px;
        padding-left: 0;
        width: 100px;
        height: auto;
    }
}

/* * {
    outline: 1px solid red;
} */
.scroll-header {
    border-bottom: 2px solid gray; /* Grauer strich */ 
} 
